/* 
General
*/

.alert {
	background-color: #f8f9fa;
	padding-top: 4rem;
}

.navbar-light .navbar-brand {
	color: #5cb85c;
	opacity: 0.7;
}

.navbar-light .navbar-brand:hover {
	opacity: 1;
	color: #5cb85c;
}

.section-hr {
	max-width: 25%;
}

.vibes-cursive {
	font-family: "Great Vibes", cursive;
}


.navbar-brand span,
#js-alerts {
	display: none;
}

#js-alerts {
	background-color: rgba(255, 255, 255, 0.2);
}

a,
a:hover {
	opacity: 0.7;
	color: #5cb85c;
	text-decoration: none;
}

a:hover {
	opacity: 1;
}

/* 
Nav
*/

#nav {
	z-index: 1031;
	font-weight: 650;
	background-color: rgba(255, 255, 255, 0.2);
}


#nav .nav-link {
	color: #6c757d;
}

.white-nav {
	-webkit-animation: white-nav 2s forwards;
	-moz-animation: white-nav 2s forwards;
	-o-animation: white-nav 2s forwards;
	animation: white-nav 2s forwards;
}

@-webkit-keyframes white-nav {
	100% {
		background: rgba(255, 255, 255, 1);
	}
}

@-moz-keyframes white-nav {
	100% {
		background: rgba(255, 255, 255, 1);
	}
}

@-o-keyframes white-nav {
	100% {
		background: rgba(255, 255, 255, 1);
	}
}

@keyframes white-nav {
	100% {
		background: rgba(255, 255, 255, 1);
	}
}

/* 
Page Header
*/

#page-header,
#user-messages-modal {
	height: 100vh;
	background: url("/media/img/index-bg.jpeg") no-repeat center;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#page-header h1 {
	font-size: 4.5rem;
}

@media (min-width: 768px) {
	#page-header h1 {
		font-size: 7.5rem;
	}
}

/* 
Main
*/

main {
	min-height: 100vh;
}


/* 
Footer 
*/

footer {
	padding: 30px 0px 100px;
	color: #b9b9b9;
}

hr {
	border-bottom: 1px solid #5cb85c;
}
