
### Custom ###
/venv
p3.6-testing-env
aph/static/img
.vscode
*.ipynb
.bashrc
2019
/db

### Django ###
*.log
*.pot
*.pyc
__pycache__/
migrations/
# /media 
/static


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

