{% extends "base.html" %}

{% load bootstrap4 %}

{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/custom/auth.css' %}" />
{% endblock css %}

{% block header_content %}
<div class="row justify-content-center text-center">
	<div class="col-md-6 py-3 rounded text-light text-bg">
		<h2 class="pt-4 pb-5">Logged out</h2>
		<p class="lead">
			<a class="btn btn-success px-5 py-2" href="{% url 'login' %}?next=/admin/">Log in again?</a>
		</p>
	</div>
</div>
{% endblock header_content %}

{% block main %} {% endblock main %}
