{% extends "base.html" %}

{% load bootstrap4 %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/custom/auth.css' %}">
{% endblock css %}

{% block header_content %}
<div class="row justify-content-center">
	<div class="col-md-4 py-3 rounded text-light text-bg">
		<div class="row">
			<div class="col-12 text-center text-light">
				<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
			</div>
		</div>
		<div class="row">
			<form method="POST" class="col-12">
				{% csrf_token %}
				{% bootstrap_form form layout='inline' %}
				{% buttons %}
				<button type="submit" class="btn btn-success btn-block">Change my password</button>
				{% endbuttons %}
			</form>
		</div>
	</div>
</div>
{% endblock header_content %}

{% block main %} {% endblock main %}