<footer class="footer bg-dark">
	<div class="container">

		<div class="row">

			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card bg-transparent py-4 h-100">
					<div class="card-body bg-transparent text-center">
						<i class="fas fa-map-marked-alt text-success mb-2"></i>
						<h4 class="text-uppercase m-0">Address</h4>
						<hr class="my-4">
						<div class="small text-black-50">7th Ave, Milton Keynes, MK18 8RO, California</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card bg-transparent py-4 h-100">
					<div class="card-body bg-transparent text-center">
						<i class="fas fa-envelope text-success mb-2"></i>
						<h4 class="text-uppercase m-0">Email</h4>
						<hr class="my-4">
						<div class="small text-black-50">
							<a href="#">aph@keykeepers.com</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-3 mb-md-0">
				<div class="card bg-transparent py-4 h-100">
					<div class="card-body bg-transparent text-center">
						<i class="fas fa-mobile-alt text-success mb-2"></i>
						<h4 class="text-uppercase m-0">Phone</h4>
						<hr class="my-4">
						<div class="small text-black-50">+44 000 000 000</div>
					</div>
				</div>
			</div>
		</div>

		<hr>
		<div class="row pt-4">
			<div class="col-12 text-center footer-links">
				<a href="https://twitter.com/" target="_blank">
					<i class="twitter fab fa-twitter fa-2x" aria-hidden="true"></i>
				</a>
				<a href="https://facebook.com" target="_blank">
					<i class="facebook fab fa-facebook-f fa-2x" aria-hidden="true"></i>
				</a>
				<a href="https://linkedin.com" target="_blank">
					<i class="linkedin fab fa-linkedin-in fa-2x" aria-hidden="true"></i>
				</a>
				<a href="https://instagram.com" target="_blank">
					<i class="instagram fab fa-instagram fa-2x" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
	
</footer>