<nav id="nav" class="navbar navbar-light navbar-expand-lg fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/"><i class="fab fa-fort-awesome fa-2x"></i>
			<span>Key Keepers</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto text-center">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'houses' %}">View all</a>
				</li>				
				<!-- Login Required -->
				{% if user.is_authenticated %}				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'add_house' user.id %}">Add Listing</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'profile' %}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Log-out</a>
				</li>				
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Log in</a>
				</li>
				{% endif %}				
				{% comment %} Testing {% endcomment %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'password_change' %}">P change</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/login/">Admin</a>
				</li>
			</ul>
		</div>
	</div>	
</nav>