<nav id="nav" class="navbar navbar-light navbar-expand-lg fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/"><i class="fab fa-fort-awesome fa-2x"></i>
			<span>Key Keepers</span>
		</a>	
		<div class="user-messages d-lg-none nav-item ml-1">
			<button class="btn btn-outline-secondary">
				<i class="fas fa-envelope fa-fw"></i>
				<i class="fas fa-caret-down"></i>
			</button>
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto text-center">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'houses' %}">View all</a>
				</li>				
				{% if user.is_authenticated %}				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'add_house' user.id %}">Add Listing</a>
				</li>
				<li class="user-messages d-none d-lg-block nav-item ml-1">
					<button class="btn btn-outline-secondary">
						<i class="fas fa-envelope fa-fw"></i>
						<i class="fas fa-caret-down"></i>
					</button>
				</li>
				<div class="dropdown ml-1 text-right">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown"
					 aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-alt"></i></button>
					<div class="dropdown-menu" aria-labelledby="user-menu">
						{% comment %} Testing {% endcomment %}
						<a class="dropdown-item" href="{% url 'password_change' %}">P change</a>
						<a class="dropdown-item" href="/admin/login/">Admin</a>
						<a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
						<a class="dropdown-item" href="{% url 'logout' %}">Log-out</a>
					</div>
				</div>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'register' %}">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Log in</a>
				</li>
				{% endif %}	
			</ul>
		</div>		
	</div>	
</nav>
