/*
General
*/

section>h2,
.container>h2,
.container-fluid>h2 {
	font-size: 3rem;
}

#page-header {	
	height: 100vh;
}

/* 
Listings
*/

#listings .card-img-top {
	height: 230px;
}

.card-img-overlay {
	max-height: max-content;
}

#listings {
	min-width: 100%;
}

#listings .card {	
	position: relative;
	overflow: hidden;
}

#listings .card img {
	transition: all 0.5s ease;
}

#listings .card:hover img {
	transform: scale(1.2)
}

#listings .card:hover .listings-overlay {
	transform: scale(1);
}

.listings-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	color: #dadada;
	transform: scale(0);
	transition: all 0.5s ease;
}

.listings-overlay  .fa-external-link-alt {
	position: absolute;
	top: 50%;
	right: 5%;
	color: #dadada;
	
}

/* 
More info
*/

#more-info {
	background: url("/media//img/index-bg.jpeg") no-repeat center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#more-info .card {	
	overflow: hidden;
	min-height: 420px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: all 0.7s ease;
}

#more-info .card:hover {
	background-color: #ffffff;
	color: #000000;
}

#more-info .card-header {
	border: 0;
	background-color: transparent;
}

#more-info .card h2 {
	font-family: "Great Vibes", cursive;
}

#more-info .card:hover i,
#more-info .card:hover h2 {
	color: #5cb85c;
	transform: scale(1.5);
}

#more-info .card i {
	color: #ffffff;
}

/* 
Contact Us
*/

#contact-us {
	height: auto;
}
#contact-us ::-webkit-input-placeholder,
#contact-us select[name="enquire"] {
	color: #5cb85c;
}

#contact-us select[name="enquire"],
#contact-us input,
.form-control {
	border: 0;
	background-color: #f8f9fa;
	border: 1px solid #5cb85c;
}
#contact-us label {
	display: none;
}
