{% extends "base.html" %}
{% load bootstrap4 %}

{% block css %}
  <style>
	  #page-header {
		  height: 100vh;
	  }
	  label {
		  color: transparent;
	  }
  </style>
{% endblock css %}

{% block header_content %}

<!-- Log in form -->
<div class="row justify-content-center">
	<div class="col-xs-6 col-lg-3">
		{% if request.GET.next %}
		<div class="row">
			<div class="col-12 text-center text-light">
				<p>You are not logged in ...</p>
				<p>Therefore you have no access to this page.</p>
				<p>Please login to see the content of this page.</p>
			</div>
		</div>
		{% endif %}
		<form method="POST" class="pb-5">
			{% csrf_token %}
			{% bootstrap_form form %}
			<div class="form-group">
				{% buttons %}
				<button type="submit" class="btn btn-success btn-block">Log in</button>
				{% endbuttons %}
			</div>
			<div class="form-group">
				<p class="text-center py-1 text-light">
					<a href="{% url 'password_reset' %}">Lost password?</a>
				</p>
			</div>
			<div class="form-group">
				<p class="text-center pt-2 pb-5 text-light">Do not have an account?
					<a class="d-block small mt-3" href="{% url 'register' %}">Register now!</a>
				</p>
			</div>
			<!-- Store the last visited url -->
			<input type="hidden" name="next" value="{{ request.GET.next }}">
		</form>
	</div>
</div>
{% endblock header_content %}	


{% block main %}{% endblock main %}