{% extends "base.html" %} 

{% load bootstrap4 %}
{% load static %}
{% block css %}
<style>
	.alert {
		padding-top: 1rem;
	}
</style>
{% endblock css %}

{% block page_header %} {% endblock page_header %}

{% block main_content %}
<!-- Registration form-->
<section class="container pt-5">
	<div class="row pt-5">
		<div class="col-12 pt-5">
			<form method="POST" action="{% url 'register' %}" class="py-5">
				{% csrf_token %}
				<h2 class="text-center vibes-cursive text-success">Create a new account</h2>
					<p class="text-center py-5">Already got an account? 
						<a href="{% url 'login' %}">Login</a>
					</p>
			
					{% bootstrap_form form layout='horizontal' %}	

				<div class="form-group text-right">
					{% buttons %}
					<button type="submit" class="btn btn-success">Create account</button>
					{% endbuttons %}
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock main_content %}
