/* 
Messages modal
*/

#user-messages-modal {
	display: none;
	height: 100vh;
	margin-top: 4.3rem;
	z-index: 0;
}

#user-messages-modal .messages-wrapper {	
	background-color: rgba(255, 255, 255, 0.9);
}

#user-messages-modal .col-md-10 {
	max-height: 70vh;
    overflow-y: overlay;
}

#user-messages-modal .col-md-10 .row {
	border-radius: 10px;
	background-color: #ffffff;
}