
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/custom/enquiries.css' %}">
{% endblock css %}
<div class="container-fluid fixed-top" id="user-messages-modal">
	<div class="messages-wrapper row h-100">
		<div class="col-12">
			<div class="row justify-content-around">
				<h5 id="unread-message-h5" class="pt-5 font-weight-bold text-success">New messages
					<hr>
					<input type="hidden" name="unread_messages_id" value="-1,">
				</h5>
				<h5 id="read-message-h5" class="pt-5 font-weight-bold text-secondary">Old messages
					<hr>
					<input type="hidden" name="read_messages_id" value="-1,">
				</h5>
			</div>
			<!-- Inner User Messages -->
			<div id="unread-message-inner" class="row"></div>
			<div id="read-message-inner" class="row"></div>
		</div>
	</div>
</div>