
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/custom/enquiries.css' %}">
{% endblock css %}
<div class="container-fluid fixed-top" id="user-messages-modal">
	<div class="messages-wrapper row h-100">
		<div class="col-12">
			<div class="row justify-content-around">
				<h5 class="pt-5 font-weight-bold">New messages
					<hr>
				</h5>
				<h5 class="pt-5 font-weight-bold">Old messages
					<hr>
				</h5>
			</div>


			<!-- TEMPORARY HERE FOR TESTING -->

			<div class="row pb-3 justify-content-around">
				<div class="col-md-10 mr-1">
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
					<div class="row justify-content-around my-1 mx-lg-1">
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
						<p class="my-3">Subject</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>