{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/custom/house.css' %}">
{% endblock css %}

{% block page_header %} {% endblock page_header %}	

{% block main_content %}

{% include "partials/_large_listing.html" %}

<!-- Contact / Edit / Delete -->
{% block btns %}
<div id="house-btns" class="container pb-5">
	<div class="row justify-content-around py-3">
		{% if user.is_authenticated and user == house.seller %}
			<button class="btn btn-danger my-2 my-sm-0" type="button" data-toggle="modal" data-target="#delete-house-modal">Delete
				your listing</button>
			<a href="{% url 'edit_house' user.id house.id %}" class="btn btn-warning">Edit your listing</a>
		{% else %}
			<a href="#" class="btn btn-success">Contact the owner</a>
		{% endif %}
	</div>
</div>
{% endblock btns %}
{% endblock main_content %}
{% block modals %}
{% include "partials/_delete_house_modal.html" %}
{% endblock modals %}
{% block js %}
<!-- Light box -->
<script src="{% static 'js/vendor/lightbox.min.js' %}"></script>
<!-- Google Maps -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDHHyac2SiOYPNYxXMK7rqJjnB8nCaaxE&callback=initMap"></script>
<!-- Custom JS -->
<script src="{% static 'js/custom/house.js' %}"></script>
{% endblock js %}