{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/custom/house.css' %}">
{% endblock css %}

{% block page_header %}


{% endblock page_header %}	

{% block main_content %}

{% include "partials/_large_listing.html" %}

{% block btns %}
<!-- Contact / Edit -->
<section class="container">
	<div class="row justify-content-start py-3">
		{% if user.is_authenticated and user == house.seller %}
		<div class="col-6">
			<a href="{% url 'edit_house' house.id %}" class="btn btn-warning">Edit your listing</a>
		</div>
		{% else %}
		<div class="col-6">
			<a href="#" class="btn btn-success">Contact the owner</a>
		</div>
		{% endif %}
	</div>
</section>
{% endblock btns %}
{% endblock main_content %}
{% block js %}
<!-- Light box -->
<script src="{% static 'js/vendor/lightbox.min.js' %}"></script>
<!-- Google Maps -->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDHHyac2SiOYPNYxXMK7rqJjnB8nCaaxE&callback=initMap"></script>
<!-- Custom JS -->
<script src="{% static 'js/custom/house.js' %}"></script>
{% endblock js %}